<div class="container">
  <table class="table table-bordered table-inverse">
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Model</th>
      <th>Phone Number</th>
      <th>Serial Number</th>
      <th>OS</th>
      <th>Email</th>
      <th>Storage Capacity</th>
      <th>RAM Size</th>
      <th>5G</th>
      <th>Price</th>
      <th>Purchase Date</th>
      <th>Contact Person</th>
      <th>Contact</th>
    </tr>
    <tr *ngFor="let phone of phones">
      <td>
        <a [routerLink]="['/admin/view', phone.id]">{{phone.name}}</a>
      </td>
      <td>
        {{phone.name}}
      </td>
      <td>
        {{phone.email}}
      </td>
      <td>
        {{phone.brand}}
      </td>
      <td>
        {{phone.model}}
      </td>
      <td class="text-right">
        {{phone.price}}
      </td>
    </tr>
  </table>
</div>



