<div class="container">
  <table class="table table-bordered table-inverse">
    <tr>
      <th>Contact Person</th>
      <th>Name of phone</th>
      <th>Brand</th>
      <th>Model</th>
      <th>Phone Number</th>
      <th>Serial Number</th>
      <th>Email</th>
      <th>Storage Capacity</th>
      <th>price </th>
      <th>Purchase Date</th>
      <th>Contact</th>
    </tr>
    <tr *ngFor="let phone of phones">
      <td>
        <a [routerLink]="['/admin/view', phone.id]">{{phone.contactPerson}}</a>
      </td>
      <td>
        {{phone.name}}
      <td>
        {{phone.brand}}
      </td>
      <td>
        {{phone.model}}
      </td>
      <td>
        {{phone.phoneNumber}}
      </td>
      <td>
        {{phone.serialNumber}}
      </td>
      <td>
        {{phone.email}}
      </td>
      <td>
        {{phone.storageCapacity}}
      <td>
        {{phone.price}}
      </td>
      <td>
        {{phone.purchaseDate}}
      </td>
      <td class="text-right">
        {{phone.contact}}
      </td>
    </tr>
  </table>
</div>



